# Step 1 (create the db)
DROP DATABASE IF EXISTS `demodb`;
CREATE DATABASE demodb;

# Step 2 (select the db)
USE demodb;


# PERMISSION SYSTEM
# Step 3 (create the accounttypes table)
DROP TABLE IF EXISTS `accounttypes`;
CREATE TABLE accounttypes (
  id INT NOT NULL AUTO_INCREMENT,

  name VARCHAR(25) NOT NULL UNIQUE,

  PRIMARY KEY (id)
);

# Step 4 (create the accesstypes table)
DROP TABLE IF EXISTS `accesstypes`;
CREATE TABLE accesstypes (
  id INT NOT NULL AUTO_INCREMENT,

  name VARCHAR(25) NOT NULL UNIQUE,

  PRIMARY KEY (id)
);

# Step 5 (create the accounttype_accesstype table)
DROP TABLE IF EXISTS `accounttype_accesstype`;
CREATE TABLE accounttype_accesstype (
  id INT NOT NULL AUTO_INCREMENT,

  accounttype_id INT NOT NULL,
  accesstype_id INT NOT NULL,

  PRIMARY KEY (id),
  FOREIGN KEY (accounttype_id) REFERENCES accounttypes(id),
  FOREIGN KEY (accesstype_id) REFERENCES accesstypes(id)
);

# Step 6 (populate the accesstypes table with the hardcoded options)
INSERT INTO `accesstypes` (`name`)
VALUES
  ('accounts'),
  ('account_types'),
  ('services'),
  ('bookings'),
  ('clients');

# END PERMISSION SYSTEM


# Step 7 (create the accounts table)
DROP TABLE IF EXISTS `accounts`;
CREATE TABLE accounts (
  id INT NOT NULL AUTO_INCREMENT,

  username VARCHAR(25) NOT NULL UNIQUE,
  hash CHAR(166) NOT NULL,

  accounttype_id INT NOT NULL,

  PRIMARY KEY (id),
  FOREIGN KEY (accounttype_id) REFERENCES accounttypes(id)
);



# Step 8 (create the services table)
DROP TABLE IF EXISTS `services`;
CREATE TABLE services (
  id INT NOT NULL AUTO_INCREMENT,

  name VARCHAR(25) NOT NULL,
  min_age INT NOT NULL,
  description VARCHAR(100) NOT NULL,

  PRIMARY KEY (id)
);

# Step 9 (create the bookings table)
DROP TABLE IF EXISTS `bookings`;
CREATE TABLE bookings (
  id INT NOT NULL AUTO_INCREMENT,

  date DATE NOT NULL,     # yyyy-MM-dd
  start CHAR(5) NOT NULL, # HH:mm
  end CHAR(5) NOT NULL,   # HH:mm

  service_id INT NOT NULL,
  account_id INT NOT NULL,
  
  PRIMARY KEY (id),
  FOREIGN KEY (service_id) REFERENCES services(id),
  FOREIGN KEY (account_id) REFERENCES accounts(id)
);







# CUSTOM DB CONTENT
INSERT INTO `accounttypes` (`id`, `name`)
VALUES
  (1, 'admin');

INSERT INTO `accounts` (`id`, `username`, `hash`, `accounttype_id`)
VALUES
  (1, 'admin', '1000:0dea2e8d0c361485d1c8ea28033fb594:9abaef3a1973cee61fef69a1b9dbf777e6cd1bf1589e258b9b0445b1668767d5d0531ebbdd67bcb874de1cbf519f763abba51feb8d1f0801b6578df2d122f4d2', 1);

INSERT INTO `accounttype_accesstype` (`id`, `accounttype_id`, `accesstype_id`)
VALUES
  (1, 1, 1),
  (2, 1, 2),
  (3, 1, 4),
  (4, 1, 5),
  (5, 1, 3);
