# Step 1 (create the db)
DROP DATABASE IF EXISTS `demodb`;
CREATE DATABASE demodb;

# Step 2 (select the db)
USE demodb;

# Step 8 (create the services table)
DROP TABLE IF EXISTS `services`;
CREATE TABLE services (
  id INT NOT NULL AUTO_INCREMENT,

  name VARCHAR(25) NOT NULL,
  min_age INT NOT NULL,
  description VARCHAR(100) NOT NULL,

  PRIMARY KEY (id)
);
